# System files
**/*/service_images.json
**/*.pyc
._*                     # OSX leaves these everywhere on SMB shares
.DS_Store               # OSX trash

# Terraform files
.history
*.terraform
*.tfstate
.terraform.lock.hcl

# IDE files
## JetBrains (e.g. IntelliJ IDEA)
.idea/
*.iml

## Visual Studio Code
.vscode

## Emacs save files
*~
\#*\#
.\#*

## Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Chart dependencies
**/charts/*.tgz
*Chart.lock

# Terraform AWS modules
terraform-aws-modules
